<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Firebae Admin SDK</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/zephyr/bootstrap.min.css">
    <link rel="stylesheet" href="/public/main.css">
</head>
<body>
    <div class="container p-4">
        <div class="row">
        {{{body}}}
        </div>
    </div>
    
</body>
</html>